* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  height: 60px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
}

#logo i{
  color: rebeccapurple;
}   

#logo{
  font-size: 25px;
  font-weight: 600 ;
  color: black;
}

.btn{
  display: flex;
  gap: 10px;
}







.link a{
  text-decoration: none;
  color: black;
  padding: 0 10px ;
  font-weight: 600 ;
  
}



.container {
  background-color: #fff7ed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
 grid-template-areas:
    "item1 item2 item2"
    "item1 item3 item4"
    "item5 item6 item6";
  gap: 2px;
}
.item {
  display: grid;
  place-content: center;
  font-size: 40px;
  font-weight: 900;
  color: rgb(0, 0, 255);
  border: 3px solid black;
}

.item-1 {
  grid-area:  item1 ;
  background-color: #fde68a;

}








.item-2 {
  background-color: #fca5a5;

  grid-area:  item2 ;
}
.item-3 {
  background-color: #93c5fd;

  grid-area:  item3 ;
}
.item-4 {
  background-color: #86efac;
  grid-area:  item4 ;
}
.item-5 {
  background-color: #c4b5fd;
  grid-area:  item5 ;
}
.item-6 {
  background-color: #fcd34d;
  grid-area:  item6 ;
}
/* .item-7 {
  background-color: #67e8f9;
  grid-area:  item7 ;
} */
/*
.item-8 {
  background-color: #f9a8d4;
}
.item-9 {
  background-color: #a7f3d0;
  grid-column: 2;
  grid-row: 2;
} */
