* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@mixin positions{
 background-position: center;
  background-size: cover;
}

header {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
}

#logo i {
  color: rebeccapurple;
}

#logo {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.btn {
  display: flex;
  gap: 10px;
}

.link a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-weight: 600;
}

.btn {
  padding: 0 20px;
  align-items: center;
}


.lets {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.container {
  background-color: #fff7ed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
    "item1 item2 item2"
    "item1 item3 item4"
    "item5 item6 item6";
  gap: 2px;
}
.item {
  display: grid;
  place-content: center;
  font-size: 40px;
  font-weight: 900;
  color: rgb(0, 0, 255);
  border: 3px solid black;
}

.item-1 {
  grid-area: item1;
  background-image: url(https://images.unsplash.com/photo-1635805737707-575885ab0820?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aXJvbiUyMG1hbnxlbnwwfHwwfHx8MA%3D%3D);
  @include positions();
 
}

.item-2 {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  grid-area: item2;
}

.item-3 {
  background-color: #93c5fd;
  background-image: url(https://images.unsplash.com/photo-1635863138275-d9b33299680b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aXJvbiUyMG1hbnxlbnwwfHwwfHx8MA%3D%3D);
  grid-area: item3;
 @include positions();
}
.item-4 {
  background-color: #86efac;
  grid-area: item4;
  background-image: url(https://wallpapers.com/images/high/4k-avengers-endgame-887urhvsyu4bkaxt.webp);
 @include positions();
  background-position: 0px -90px;
}
.item-5 {
  background-color: #c4b5fd;
  grid-area: item5;
  background-image: url(https://wallpapers.com/images/high/action-packed-4k-wallpapers-of-avengers-team-fw9ua5ui2plvoq6x.webp);
 @include positions();
  background-position: 0px -0px;
}
.item-6 {
  background-color: #fcd34d;
  grid-area: item6;
  background-image: url(https://wallpapercave.com/dwp2x/wp12599405.jpg);
 @include positions();
  background-position: -5px -5px;
}
/* .item-7 {
  background-color: #67e8f9;
  grid-area:  item7 ;
} */
/*
.item-8 {
  background-color: #f9a8d4;
}
.item-9 {
  background-color: #a7f3d0;
  grid-column: 2;
  grid-row: 2;
} */
